################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/H2M-Backend/H2M/.vs
*.dll
*.pdb
